<mat-tab-group class="container">
  <div *ngFor="let data of this.weatherData">
    <mat-tab label="g"> </mat-tab>
  </div>
  <mat-tab label="First">
  </mat-tab>
  <mat-tab label="Second" >
    <ngx-charts-bar-vertical class="chart"
    [view]="view"
    [scheme]="colorScheme"
    [results]="saleData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)">
    </ngx-charts-bar-vertical>  
  </mat-tab>
  <mat-tab label="Third">
  </mat-tab>
</mat-tab-group>

