<mat-card>
<mat-card-header>
    <mat-card-title class="title">
        Notifications
    </mat-card-title>

</mat-card-header>
<mat-card-content>

    <mat-table [dataSource]="dataSource" class="mat-elevation-z0 table">

        <ng-container matColumnDef="weatherType">
          <mat-header-cell *matHeaderCellDef>weatherType</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row?.weatherTypes}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef>value</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row?.value}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="dateTime">
          <mat-header-cell *matHeaderCellDef>date and time</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{dateTickFormatting(row?.dateTime)}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>

</mat-card-content>
</mat-card>
