<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" opened  mode="side">
        <div class="sidenav--title">
            <img class="weather-icon"src="https://images-na.ssl-images-amazon.com/images/I/61nuuPxUvaL.png">
            <h1>{{this.title}}</h1>
        </div>
        <mat-nav-list >
            <div (click)="this.viewCharts()">
              <a mat-list-item   
              [ngClass]="{'sidenav--element': !this.showCharts, 'sidenav--element--selected': this.showCharts}" >
                <mat-icon> insert_chart_outlined</mat-icon>
                <span style="margin-left:10px">Charts</span>
              </a>
          </div>
          <div (click)="this.viewNotifications()" >
            <a mat-list-item  
            [ngClass]="{'sidenav--element': !this.showNotifications, 'sidenav--element--selected': this.showNotifications}" >
              <mat-icon>notifications_none</mat-icon>
              <span style="margin-left:10px">Notifications</span>
            </a>
        </div>
        <div (click)="this.viewMicroservices()">
          <a mat-list-item  
           [ngClass]="{'sidenav--element': !this.showMicroservices, 'sidenav--element--selected': this.showMicroservices}" >
            <mat-icon>list_alt</mat-icon>
            <span style="margin-left:10px">Microservices</span>
          </a>
       </div>
        <div (click)="this.viewCommands()">
        <a mat-list-item  
         [ngClass]="{'sidenav--element': !this.showCommands, 'sidenav--element--selected': this.showCommands}" >
          <mat-icon>edit</mat-icon>
          <span style="margin-left:10px">Commands</span>
        </a>
       </div>
        </mat-nav-list>
    </mat-drawer>
    <div class="sidenav-content">
      <div *ngIf="!this.showCharts && !this.showMicroservices && !this.showNotifications && !this.showCommands">
        <div class="container--title">Siberia weather station</div>
        <img class ="background-image"
          src="https://i.pinimg.com/originals/ff/3f/9a/ff3f9ac4bab56e6efe04008fced5b53e.jpg">
      </div>
      <div *ngIf="this.showCharts">
      <app-chart-dashboard></app-chart-dashboard>
      </div>
      <div *ngIf="this.showMicroservices">
        <app-microservices></app-microservices>
      </div>
      <div *ngIf="this.showNotifications">
        <app-notifications></app-notifications>
      </div>
      <div *ngIf="this.showCommands">
        <app-commands></app-commands>
      </div>
    </div>
  </mat-drawer-container>