.container {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
}

.sidenav-content {
  display: flex;
  height: 100%;
}

.sidenav {
  background-color: indigo;
  padding: 20px;
  color: white;   
}

.sidenav--element {
  font-size:22px;
  margin-top: 6px;
  color: white;
  padding:10px
}

.sidenav--element--selected {
  font-size:22px;
  margin-top: 6px;
  padding:10px;
  color: rgb(137, 230, 225);
  color:aqua; 
}


.sidenav--title {
  margin-top: 30px;
  display: flex; 
  margin-bottom: 50px;
}

.sidenav-content--button {
  color: indigo;
  margin-left: 0px;
  height: 50px;
  margin-top: 40vh;
}

.weather-icon {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

.background-image{
 height: 65%;
 margin-left:190px;
 margin-top: 60px;
//  clip-path: inset(80px 45px);
}

.container--title{
  font-size:75px;
  padding-top:70px; 
  margin-left: 25%; 
  background: -webkit-linear-gradient(90deg, rgb(46, 6, 63) 0%, rgb(122, 40, 170) 30%,rgb(103, 130, 248) 55% ,aqua 100%);  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 85px;
  font-weight: 600;
  min-width: 900px;
  font-family: 'Times New Roman', Times, serif;
}